// Site header
.site-header {
  border-bottom: 1px solid $grey-600;
  color: $grey-100;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  color: $grey-100;
  float: left;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-100;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;

    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;

    top: 9px;

    > label {
      [for="nav-trigger"] {
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        width: 36px;
        z-index: 2;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// Site footer
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-link {
  > svg {
    height: 32px;
    width: 32px;
  }
}

.footer-col-wrapper {
  @extend %clearfix;
  @include relative-font-size(.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  // width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  // width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  // width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    // width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// Page content
.page-content {
  flex: 1;
  padding: $spacing-unit * 1.73 0;

  @include media-query($on-laptop) {
    padding: $spacing-unit * .73 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}

// Posts
.post-list-heading {
  @include relative-font-size(1.75);
  color: $primary-500;
  font-size: 60px;
  font-weight: 700;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    display: flex;
    flex-direction: row;
    gap: calc($spacing-unit * 2.53);
    height: min-content;
    padding: calc($spacing-unit * .26) 0;
    width: 100%;

    @include media-query($on-desktop) {
      gap: calc($spacing-unit * .6);
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;

  @include media-query($on-laptop) {
    font-size: $base-font-size * .4;
  }
}

.post-header {
  margin-bottom: $spacing-unit * 1.73;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit * 1.46;
  }
}

.post-title {
  @include relative-font-size(2.625);
  color: $brand-color;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc($spacing-unit * .26);

  > h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 100%;
    text-overflow: '...';

    @include media-query($on-desktop) {
      font-size: 20px;
    }
  }
}

.post-thumbnail {
  height: 100%;

  > picture {
    height: min-content;
  }
}

.blog-roll-image {
  border-radius: 10px;

  height: calc($spacing-unit * 10.6);
  width: calc($spacing-unit * 13.8);

  @include media-query($on-desktop) {
    height: calc($spacing-unit * 2.73);
    width: calc($spacing-unit * 2.73);
  }

  @include media-query($on-laptop) {
    height: calc($spacing-unit * 3);
    width: calc($spacing-unit * 3);
  }
}

.feed:not(:first-of-type) {
  margin-top: 360px;
}

.feed:not(:last-of-type) {
  margin-bottom: 360px;
}

@media (max-width: 1150px) {
  .feed:not(:first-of-type) {
    margin-top: 130px;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 130px;
  }
}

@media (max-width: 800px) {
  .post-meta {
    font-size: 2vw;
  }

  .feed:not(:first-of-type) {
    margin-top: 15vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 15vh;
  }

  .post-list-heading {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .feed:not(:first-of-type) {
    margin-top: 10vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 10vh;
  }
}

@media (max-width: 450px) {
  .feed:not(:first-of-type) {
    margin-top: 5vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 5vh;
  }

  .post-list-heading { font-size: 30px; }
  .site-footer,
  .footer-heading,
  .contact-list,
  .social-media-list,
  .footer-col-wrapper,
  .footer-col,
  .rss-subscribe { font-size: 2vw; }
}

.rss-subscribe {
  display: block;
  padding-top: 290px;
  text-align: center;
}

.hidden { display: none; }

.blur { filter: blur(4px); }

.toc {
  background: $background-color;
  border: 1px solid $grey-100;
  border-radius: 10px;

  // scss-lint:disable ColorVariable
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, .75));

  margin: auto $spacing-unit * 4.5;
  padding: $spacing-unit * 2.6 $spacing-unit * 1.8;
  width: 100%;

  @include media-query($on-laptop) {
    margin: $spacing-unit * 6.8 $spacing-unit / 2 auto;
    padding: $spacing-unit * 4.8 $spacing-unit * .2666;
  }

  .close {
    background-color: transparent;
    border-color: transparent;
    color: $grey-100;

    display: flex;

    height: auto;
    justify-content: end;
    text-align: center;

    width: 100%;
  }
}


.about-self {
  align-content: center;
  padding-left: calc($spacing-unit * 1.66);
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;

  margin-bottom: calc($spacing-unit * .5);

  width: 100%;
}

.row {
  align-content: center;

  display: flex;
  flex-direction: row;

  height: min-content;
  justify-content: space-around;

  width: 100%;
}

.avatar {
  border-radius: 100%;
  max-height: calc($spacing-unit * 6.06);
  max-width: calc($spacing-unit * 6.06);
}

.banner {
  display: flex;
  flex-direction: column;

  height: min-content;
  justify-content: center;

  padding: 0 4px;

  text-align: center;

  width: min-content;

  * > h2 {
    font-weight: bold;
    margin-top: calc($spacing-unit * .66);
    white-space: nowrap;
  }
}

.sep-bottom {
  border-bottom: calc($spacing-unit * .1) solid $grey-100;
  margin-bottom: calc($spacing-unit * .5);
}
