// Site header
.site-header {
  border-bottom: 1px solid $grey-600;
  color: $grey-100;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  color: $grey-100;
  float: left;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-100;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;

    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;

    top: 9px;

    > label {
      [for="nav-trigger"] {
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        width: 36px;
        z-index: 2;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// Site footer
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-link {
  > svg {
    height: 32px;
    width: 32px;
  }
}

.footer-col-wrapper {
  @extend %clearfix;
  @include relative-font-size(.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  // width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  // width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  // width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    // width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// Page content
.page-content {
  flex: 1;
  padding: $spacing-unit * 1.73 0;

  @include media-query($on-laptop) {
    padding: $spacing-unit * .73 0;
  }
}


.page-heading {
  @include relative-font-size(2);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Posts
.post-list-heading {
  @include relative-font-size(1.75);
  color: $primary-500;
  font-size: 60px;
  font-weight: 700;
}


hr.rounded {
  border-top: 8px solid #2B2B32;
  border-radius: 5px;
}

.post-item-categories:first-of-type {
  background: #2C2C33;
  padding: 15px;
}

.post-list-categories li:not(:first-child) .post-link-categories {
  font-size: 17px;
}

.post-list-categories:not(:first-of-type) {
  margin-top: 30px;
  margin-left: 0;
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > li:not(:first-of-type) {
    display: flex;
    flex-direction: row-reverse;
    gap: calc($spacing-unit * 2.53);
    height: min-content;
    width: 100%;
    padding: 1rem;
    flex: 1 1 600px;
    box-sizing: border-box;
    line-height: 90%;



    @include media-query($on-desktop) {
      gap: calc($spacing-unit * .6);
    }
  }
}

.post-list-categories {
  margin-left: 0;
  list-style: none;
  margin-left: 0;

  > li {
    display: flex;
    flex-direction: row-reverse;
    gap: calc($spacing-unit * 2.53);
    height: min-content;
    padding: calc($spacing-unit * .26) 0;
    width: 100%;


    @include media-query($on-desktop) {
      gap: calc($spacing-unit * .6);
    }
  }
}

.post-list {
  margin-left:  0;
  list-style: none;
  margin-left: 0;

  > li {
    display: flex;
    flex-direction: row;
    gap: calc($spacing-unit * 2.53);
    height: min-content;
    padding: calc($spacing-unit * .26) 0;
    width: 100%;

    @include media-query($on-desktop) {
      gap: calc($spacing-unit * .6);
    }
  }
}

.post-meta-categories {
  font-size: $small-font-size;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;

  @include media-query($on-laptop) {
    font-size: $base-font-size * .4;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $post-meta-color;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;

  @include media-query($on-laptop) {
    font-size: $base-font-size * .4;
  }
}

.post-header {
  margin-bottom: $spacing-unit * 1.73;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit * 1.46;
  }
}

.post-title {
  font-size: clamp(1.2rem, 5vw, 3rem);
  // @include relative-font-size(2.625);
  color: $brand-color;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;

  // @include media-query($on-laptop) {
  //   @include relative-font-size(2.25);
  // }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-info-categories {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc($spacing-unit * .26);

  > h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 100%;
    text-overflow: '...';

    @include media-query($on-desktop) {
      font-size: 20px;
    }
  }
}

.post-list-categories li:not(:first-child) .post-meta-categories {
  display: none;
}

.post-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc($spacing-unit * .6);

  > h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 100%;
    text-overflow: '...';

    @include media-query($on-desktop) {
      font-size: 20px;
    }
  }
}

.post-thumbnail-categories {
  height: 100%;

  > picture {
    height: min-content;
  }
}


.post-thumbnail {
  height: 100%;

  > picture {
    height: min-content;
  }
}

.post-list-categories li:not(:first-child) .blog-roll-image-categories {
  border-radius: 10px;

  height: 130px/*calc($spacing-unit * 10.6)*/;
  width: 130px/*calc($spacing-unit * 13.8)*/;

  @include media-query($on-desktop) {
    height: calc($spacing-unit * 2.73);
    width: calc($spacing-unit * 2.73);
  }

  @include media-query($on-laptop) {
    height: calc($spacing-unit * 3);
    width: calc($spacing-unit * 3);
  }
}



.blog-roll-image-categories {
  border-radius: 10px;

  height: calc($spacing-unit * 10.6);
  width: calc($spacing-unit * 13.8);

  @include media-query($on-desktop) {
    height: calc($spacing-unit * 2.73);
    width: calc($spacing-unit * 2.73);
  }

  @include media-query($on-laptop) {
    height: calc($spacing-unit * 3);
    width: calc($spacing-unit * 3);
  }
}

.feed:not(:first-of-type) {
  margin-top: 360px;
}

.feed:not(:last-of-type) {
  margin-bottom: 360px;
}

@media (max-width: 1150px) {
  .feed:not(:first-of-type) {
    margin-top: 130px;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 130px;
  }
}

@media (max-width: 800px) {
  .post-meta {
    font-size: 2vw;
  }

  .feed:not(:first-of-type) {
    margin-top: 15vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 15vh;
  }

  .post-list-heading {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .feed:not(:first-of-type) {
    margin-top: 10vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 10vh;
  }
}

@media (max-width: 450px) {
  .feed:not(:first-of-type) {
    margin-top: 5vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 5vh;
  }

  .post-list-heading { font-size: 30px; }
  .site-footer,
  .footer-heading,
  .contact-list,
  .social-media-list,
  .footer-col-wrapper,
  .footer-col,
  .rss-subscribe { font-size: 2vw; }
}

.rss-subscribe {
  display: block;
  padding-top: 290px;
  text-align: center;
}

.hidden { display: none !important; }

.about-self {
  align-content: center;
  padding-left: calc($spacing-unit * 1.66);
  text-align: justify;
  width: 100%;

  @include media-query($on-big-laptop) {
    padding: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;

  margin-bottom: calc($spacing-unit * .5);

  width: 100%;

  @include media-query($on-big-laptop) {
    flex-direction: column;
    justify-content: center;
  }
}

.row {
  align-content: center;

  display: flex;
  flex-direction: row;

  height: min-content;
  justify-content: space-around;

  width: 100%;
}

.avatar {
  border-radius: 100%;
  max-height: calc($spacing-unit * 6.06);
  max-width: calc($spacing-unit * 6.06);
  padding: 0 calc($spacing-unit * 2.73);

  @include media-query($on-big-laptop) {
    padding: 0;
  }
}

.banner {
  display: flex;
  flex-direction: column;

  height: min-content;
  justify-content: start;

  padding: 0 4px;

  text-align: center;

  width: min-content;

  @include media-query($on-big-laptop) {
    width: 100%;
  }

  * > h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: calc($spacing-unit * .66);
    white-space: nowrap;
  }
}

.sep-bottom {
  border-bottom: calc($spacing-unit * .1) solid $grey-100;
  margin-bottom: calc($spacing-unit * .5);
}

.overflow-hide {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.s-14 {
  font-size: 14px;
  line-height: 24px;
}

.s-20 {
  font-size: 20px;
  line-height: 24px;
}

.s-28 {
  font-size: 28px;
  line-height: 40px;
}

.w-full {
  width: 100%;
}

.w-max {
  width: max-content;
}

.maxw-340 {
  max-width: 340px !important;
}

.h-274 {
  height: 274px !important;
}

.bg-transparent {
  background: transparent;
}

.m-0 {
  margin: 0 !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.my-12 {
  margin: 12px 0 !important;
}

.pb-12 {
  padding-bottom: 12px;
}

.before-desktop-px-0 {
  @include media-query($on-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.px-12 {
  padding: 0 12px;
}

.px-10 {
  padding: 0 10px;
}

.pr-0 {
  padding-right: 0;
}

.pr-34 {
  padding-right: 34px;
}

.pl-66 {
  padding-left: 66px;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.before-desktop-flex-column {
  @include media-query($on-desktop) {
    flex-direction: column !important;
  }
}

.border-box {
  box-sizing: border-box;
}

.weight-600 {
  font-weight: 600;
}

.weight-500 {
  font-weight: 500;
}

.weight-100 {
  font-weight: 100;
}

.b-bottom-grey-600 {
  border-bottom: 5px solid $grey-600;
}

.b-radius-10 {
  border-radius: 10px;
}

.tag {
  border-radius: 5px;
  background: $grey-600;
  height: min-content;
  padding: 0 12px;
  text-align: center;
}

.row-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.gap-20 {
  gap: 20px;
}

.card {
  border: 1px solid $grey-600;
  border-radius: 10px;
  height: max-content !important;
  min-width: 250px;
  width: auto !important;
  overflow: hidden;
  display: flex !important;
  flex-direction: column !important;
  text-overflow: ellipsis;
  gap: 0 !important;
  padding: 0 !important;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: anywhere;
}

// Webkit
.overflow-x-scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.overflow-x-scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.gap-20 {
  gap: 20px;
}

.aside-desktop-before-mobile {
  max-width: 340px;
  padding-left: 66px;
  padding-right: 34px;
  font-weight: 500;

  @include media-query($on-desktop) {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    width: 100%;
  }
}

.feed-when-categorized {
  display: grid;
  padding: 0 12px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

  @include media-query($on-desktop) {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0;
  }
}
