/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #3e3e45;
  min-height: $spacing-unit * 1.865;
  color: #ffffff;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fff;

  &,
  &:visited {
    color: #fff;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-link {
  > svg {
    width: 32px;
    height: 32px;
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 1.73 0;
  flex: 1;
  @include media-query($on-laptop) {
    padding: $spacing-unit * 0.73 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}

/**
 * Posts
 */
.post-list-heading {
  @include relative-font-size(1.75);
  font-weight: 700;
  font-size: 60px;
  color: #3847f0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    padding: calc($spacing-unit * 0.26) 0px;
    gap: calc($spacing-unit * 2.53);

    @include media-query($on-desktop) {
      gap: calc($spacing-unit * 0.6);
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: $font-weight-light;

  @include media-query($on-laptop) {
    font-size: $base-font-size * 0.4;
  }
}

.post-header {
  margin-bottom: $spacing-unit * 1.73;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit * 1.46;
  }
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  color: $brand-color;
  font-weight: 700;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: calc($spacing-unit * 0.26);
  flex: 1;

  > h3 {
    max-width: 100%;
    font-size: 36px;
    text-overflow: "...";
    font-weight: 700;

    @include media-query($on-desktop) {
      font-size: 20px;
    }
  }
}

.post-thumbnail {
  height: 100%;

  > picture {
    height: min-content;
  }
}

.blog-roll-image {
  width: calc($spacing-unit * 13.8);
  height: calc($spacing-unit * 10.6);
  border-radius: 10px;

  @include media-query($on-desktop) {
    width: calc($spacing-unit * 2.73);
    height: calc($spacing-unit * 2.73);
  }

  @include media-query($on-laptop) {
    width: calc($spacing-unit * 3);
    height: calc($spacing-unit * 3);
  }
}

.feed:not(:first-of-type) {
  margin-top: 360px;
}

.feed:not(:last-of-type) {
  margin-bottom: 360px;
}

@media (max-width: 1150px) {
  .feed:not(:first-of-type) {
    margin-top: 130px;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 130px;
  }
}

@media (max-width: 800px) {
  .post-meta {
    font-size: 2vw;
  }

  .feed:not(:first-of-type) {
    margin-top: 15vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 15vh;
  }

  .post-list-heading {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .feed:not(:first-of-type) {
    margin-top: 10vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 10vh;
  }
}

@media (max-width: 450px) {
  .feed:not(:first-of-type) {
    margin-top: 5vh;
  }

  .feed:not(:last-of-type) {
    margin-bottom: 5vh;
  }

  .post-list-heading {
    font-size: 30px;
  }
  .site-footer,
  .footer-heading,
  .contact-list,
  .social-media-list,
  .footer-col-wrapper,
  .footer-col,
  .rss-subscribe {
    font-size: 2vw;
  }
}

.rss-subscribe {
  display: block;
  text-align: center;
  padding-top: 290px;
}

.toc {
  background: $background-color;
  border-radius: 10px;
  width: 100%;

  border: 1px solid $grey-100;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.75));

  padding: $spacing-unit * 2.6 $spacing-unit * 1.8;

  margin: auto $spacing-unit * 4.5 auto;

  @include media-query($on-laptop) {
    margin: $spacing-unit * 6.8 $spacing-unit / 2 auto;
    padding: $spacing-unit * 4.8 $spacing-unit * 0.2666;
  }
}

.hidden {
  display: none;
}

.blur {
  filter: blur(4px);
}

.toc div.close {
  width: 100%;
  display: flex;
  justify-content: end;
  height: auto;
}

.toc button.close {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: $grey-100;
  border-color: rgba(0, 0, 0, 0);
}

.about-self {
  padding-left: calc($spacing-unit * 1.66);
  width: 100%;
  text-align: justify;
  align-content: center;

  @include media-query($on-big-laptop) {
    padding: 0;
  }
}

.container {
  display: flex;
  margin-bottom: calc($spacing-unit * 0.5);
  flex-direction: row;
  width: 100%;

  @include media-query($on-big-laptop) {
    flex-direction: column;
    justify-content: center;
  }
}

.row {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: min-content;

  justify-content: space-around;
  align-content: center;
}

.avatar {
  border-radius: 100%;
  max-height: calc($spacing-unit * 6.06);
  max-width: calc($spacing-unit * 6.06);
  padding: 0 calc($spacing-unit * 2.73);

  @include media-query($on-big-laptop) {
    padding: 0;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: min-content;
  width: min-content;
  padding: 0px 4px;

  @include media-query($on-big-laptop) {
    width: 100%;
  }

  * > h2 {
    margin-top: calc($spacing-unit * 0.66);
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
  }
}

.sep-bottom {
  border-bottom: calc($spacing-unit * 0.1) solid $grey-100;
  margin-bottom: calc($spacing-unit * 0.5);
}
