<li class="{% if include.is_category %}post-item-categories{% endif%}">
    <div class="post-thumbnail{% if include.is_category %}-categories{% endif %}">
        {%- if include.post.image -%}
            {% picture jpt-webp "{{- include.post.image | relative_url -}}"
                --alt "" 
                --img class="blog-roll-image-categories" %}
        {%- else -%}
            {%- assign postImage = "/assets/images/image-default.jpg" -%}
            {% picture jpt-webp "{{- postImage | relative_url -}}"
            --alt "" --img class="blog-roll-image-categories" %}
        {%- endif -%}
    </div>
    <div class="post-info{% if include.is_category %}-categories{% endif %}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>
            <time
              class="dt-published"
              datetime="{{ include.post.date | date_to_xmlschema }}"
              itemprop="datePublished"
            >
                {{ include.post.date | date: date_format }}
            </time> | 
            {% if include.is_category != true %}
                {{ include.post.categories[0] }}
            {% else if include.post.categories.size == 1 %}
                {{ include.post.categories[1] }}
            {% endif %}
        </span>
        <h3>
            <a
              class="post-link{% if include.is_category %}-categories{% endif %}"
              href="{{ include.post.url | relative_url }}"
            >
                {{ include.post.title | escape }}
            </a>
        </h3>
        {% if include.is_category != true %}
        <p class="post-meta{% if include.is_category %}-categories{% endif %}">
            {{ include.post.content | strip_html | truncatewords: 20}}
        </p>
        {% endif %}
    </div>
</li>
