---
---

%clearfix:after {
  clear: both;
  content: '';
  display: table;
}

// Import partials.
// @import
//   'minima/base',
//   'minima/layout',
//   'minima/syntax-highlighting'
// ;

@import
  'variables',
  'mixins',
  'minima/base';
