---
---

@charset "utf-8";

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Import partials.
// @import
//   "minima/base",
//   "minima/layout",
//   "minima/syntax-highlighting"
// ;

@import
  "_variables",
  "_mixins",
  "minima/base"
;