---
layout: default
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <div class="feed">
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          <div class="post-thumbnail">
            {%- if post.image -%}
            {% picture jpt-webp "{{- post.image |
              relative_url -}}" --alt "" --img class="blog-roll-image" %}
            {%- else -%} 
            {%- assign postImage = "/assets/images/image-default.jpg" -%}
            {% picture jpt-webp "{{- post.image | relative_url -}}" --alt "" --img
              class="blog-roll-image" %} 
            {%- endif -%}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          </div>
          <div class="post-info">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <p class="post-meta">
              {{ post.content | strip_html | truncatewords: 20}}
            </p>
          </div>
        </li>
        {%- endfor -%}
    </ul>
  </div>
  <p class="rss-subscribe">
    subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a>
  </p>
  {%- endif -%}
</div>
